
SFML*/
file_settings.txt


#Martin:

x64
*.opensdf
*.sdf
Project/ProjectFiles/SFML_Project/.vs/SFML_Project/v14/.suo
Project/ProjectFiles/SFML_Project/SFML_Project.sdf
Project/ProjectFiles/SFML_Project/x64/Debug/vc140.idb
Project/ProjectFiles/SFML_Project/x64/Debug/vc140.pdb
Project/ProjectFiles/SFML_Project/x64/Debug/vc141.idb
Project/ProjectFiles/SFML_Project/x64/Debug/vc141.pdb
Project/ProjectFiles/SFML_Project/x64/Debug/Individual.obj
Project/ProjectFiles/SFML_Project/.vs/SFML_Project/v14/.suo
Project/ProjectFiles/SFML_Project/.vs/SFML_Project/v14/.suo
Project/ProjectFiles/SFML_Project/SFML_Project.sdf
Project/ProjectFiles/SFML_Project/x64/Release/main.obj
Project/ProjectFiles/SFML_Project/x64/Release/SFML_Project.exe
Project/ProjectFiles/SFML_Project/x64/Release/SFML_Project.iobj
Project/ProjectFiles/SFML_Project/x64/Release/SFML_Project.ipdb
Project/ProjectFiles/SFML_Project/x64/Release/SFML_Project.log
Project/ProjectFiles/SFML_Project/x64/Release/SFML_Project.pdb
Project/ProjectFiles/SFML_Project/x64/Release/SFML_Project.tlog/CL.command.1.tlog
Project/ProjectFiles/SFML_Project/x64/Release/SFML_Project.tlog/CL.read.1.tlog
Project/ProjectFiles/SFML_Project/x64/Release/SFML_Project.tlog/CL.write.1.tlog
Project/ProjectFiles/SFML_Project/x64/Release/SFML_Project.tlog/link.command.1.tlog
Project/ProjectFiles/SFML_Project/x64/Release/SFML_Project.tlog/link.read.1.tlog
Project/ProjectFiles/SFML_Project/x64/Release/SFML_Project.tlog/link.write.1.tlog
Project/ProjectFiles/SFML_Project/x64/Release/SFML_Project.tlog/SFML_Project.lastbuildstate
Project/ProjectFiles/SFML_Project/x64/Release/vc140.pdb
*.sdf
Project/ProjectFiles/SFML_Project/x64/Release/SFML_Project.log
Project/ProjectFiles/SFML_Project/x64/Release/SFML_Project.tlog/CL.command.1.tlog
Project/ProjectFiles/SFML_Project/x64/Release/SFML_Project.tlog/CL.read.1.tlog
Project/ProjectFiles/SFML_Project/x64/Release/SFML_Project.tlog/CL.write.1.tlog
Project/ProjectFiles/SFML_Project/x64/Release/vc140.pdb
ProjectFiles


#Christoffer:

bin/
